@import '../../shared/styles/general';

.primary-color{
    background-color: $primary-color;
    padding: 0; //override bootstrap
}
.logo {
    img {
        width: auto;
        height: 4em;
    }
}
.menu {
    padding: 3px 10px 5px 3px;
}

.collapse.navbar-collapse > ul {
    width: 100%;
}

.active-link{
    color: white !important; //override bootstrap
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
    border-color: $primary-color;
} 
