<div class="container mt-3">
  <div class="row">
    <div class="col-sm" *ngFor="let person of persons">
      <div class="card card text-center p-3 mt-3">
        <div class="d-flex justify-content-center">
          <img [src]="person.photo" alt="person photo">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{person.name}}</h5>
          <p class="card-text">{{person.email}}</p>
          <p class="card-text">{{person.tel}}</p>
        </div>
      </div>
    </div>
  </div>
</div>